body {
  padding: 10px;
  font-family: sans-serif;
  background-color: rgb(7, 179, 7) !important; 
  text-align: center;
}
h4{
    text-align: left;
}
p-frame img{
    width: 100%;
}
.previewImg img{
    width: 60%;
}
.profPic{
    width: 60%;
    height: 70%;
}
.displayPic{
    width: 60%;
    height: 70%
}
.invalidWarn{
    border: 2px solid #dc3545 !important;
}
.js-delete, .js-edit, .js-view{
    cursor: pointer;
    font-size: 1.5em;
}
.js-delete{
    color: #dc3545;
}
.js-edit{
    color: #bfd3c0; 
}
.js-view{
    color: #164bbd; 
}
.btn-default{
    border: 4px solid rgb(61, 129, 238) !important;
}